$brand-red: #ee4439;
$brand-red-100:#ed3038;
$red: #D3200C;
$red-darkone: #d22d23;
$red-light: #ee4540;
$pink-red: #c72c41;
$violet-red: #84173E;
$dark-scarlet: #520924;
$violet-red-dark: #2d142c;
$orage: #FF6400;
$green: #309034;
$primary-color: #222;
$primary-color-light: #4a4a4a;
$primary-color-light-gray: #716f6f;
$black-light: #616161;
$black-light-off: #878787;
$black-dark: #172337;
$white: #fff;
$light-gray: #f1f3f6;
$white-light: #f8f8f9;
$Sky-blue:#e0ecee;
$Sky-blue-400:#7aa6ad;