.banner-section{
    .banner-warrper {
        background-size: cover !important;
        background-position: top center !important;
        background-repeat: no-repeat !important;
        height: 620px;
        @media (max-width:1024px) {
            height: 480px;
        }
        @media (max-width:768px) {
            height: 380px;
        }
        @media (max-width:599px) {
            height: 180px;
        }
    }
    .swiper-button-disabled{
        display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        &::after {
            padding:30px 20px;
            background-color: $white;
            border-radius: 0px 10px 10px 0px;
            font-size: $font-size-medium;
            font-weight: bold;
            color: $primary-color-light;
        }

    }

    .swiper-button-prev{
        left: 0;
    }
    .swiper-button-next {
        right: 0;
        &::after{
            border-radius: 10px 0px 0px 10px;
        }
    }
}

.category-section{
    ul {
        display: flex;
        justify-content: space-between;
        overflow: auto;
        padding-bottom: 10px !important;
        li{
            padding:0px 1rem;
            &:first-child{
                padding-left: 0px !important;
            }
            &:last-child{
                padding-right: 0px !important;
            }
            a{
                border: 0px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 2.5rem .33rem .33rem .33rem;
                p{
                    color: $black;
                    font-weight: $font-weight-medium;
                    font-size: $font-size-regular;
                }
    
                .img-box {
                    width: 100px;
                    height: 100px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 10px;
    
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

.offer-section{
    ul{
        display: flex;
        justify-content: space-between;
        overflow: auto;

        li{
            padding: 0px 10px;
            &:first-child{
                padding-left: 0px !important;
            }

            &:last-child{
                padding-right: 0px !important;
            }

            a{
                width: 100%;
                overflow: hidden;
                .image-wrapper{
                    border: 0px;
                    overflow: hidden;
                    height: 294px;
                    @include border-radius(5px);
                    @media(max-width:599px) {
                        height: 224px;
                    }
                }

                p {
                    color: $primary-color-light;
                    font-size: $font-size-regular;
                }

                div + p{
                    @include font-size(20px); 
                    color: $primary-color;
                }
                span{
                    left:-10px;
                    top: 15px;
                    border-radius: 0px;
                    transform: skewX(-25deg);
                    padding-left: 20px;

                    &.badge-availablity{
                        width: 100%;
                        left:auto;
                        top: auto;
                        top: 200px;
                        transform: skewX(0deg);
                        padding-left: 10px;
                        padding-right: 20px;
                        transition: all 0.5s;
                        padding: 10px;
                        animation: blink 2s infinite;
                    }
                }
            }
        }
    }
}

.item-section{
    .category-row {
        width: 100%;
        display: flex;
        .side-banner {
            width: 35%;
            @media(max-width:599px) {
                display: none;
            }
        }

        ul {
            width: 65%;
            margin-left: 1.5rem;
            display: flex;
            justify-content: space-between;
            overflow: auto;
            flex-wrap: wrap;

            li{
                @include border-radius(5px);
                margin-bottom: 1.5rem;
                padding: 0px 10px;
                &:first-child{
                    padding-left: 0px !important;
                }

                &:last-child{
                    padding-right: 0px !important;
                }
                a{
                    overflow: hidden;
                    background-color: $white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .image-wrapper{
                        height: 306px;
                        width: 100%;
                        overflow: hidden;
                    }
                    .item-title{
                        font-size: $font-size-regular;
                    }
                    span{
                        left:-10px;
                        top: 15px;
                        border-radius: 0px;
                        transform: skewX(-25deg);
                        padding-left: 20px;

                        &.badge-availablity{
                            width: 100%;
                            left:auto;
                            top: auto;
                            bottom: 80px;
                            transform: skewX(0deg);
                            padding-left: 10px;
                            padding-right: 20px;
                            transition: all 0.5s;
                            padding: 10px;
                            animation: blink 2s infinite;
                        }
                    }
                }
            }
            @media (max-width:599px) {
                flex-wrap: nowrap;
                width: 100%;
            }
        }
    }
}

.mid-banner-section{ 
    .banner-wrapper{
        @include border-radius(10px);
        overflow: hidden;
    }
}

.category-3card-section{
    ul{
        display: flex;
        justify-content: space-between;
        overflow: auto;
        li{
            padding: 0px 10px;
            &:first-child{
                padding-left: 0px;
            }
            &:last-child{
                padding-right: 0px;
            }
            a{
                
                .image-wrapper{
                    height: 388px;
                    width: 100%;
                    overflow: hidden;
                    @include border-radius(5px);
                    img{
                        width: 100%;
                    }
                }
                .item-title{
                    margin-top: 15px !important;
                    font-weight: 400 !important;
                    font-size: $font-size-medium;
                }
            }
            &:nth-child(3n){
                margin-right: 0px !important;
            }
        }
    }
}

.category-2card-section{
    ul{
        display: flex;
        justify-content: space-between;
        overflow: auto;
        li{
            padding: 0px 10px;
            &:first-child{
                padding-left: 0px;
            }
            &:last-child{
                padding-right: 0px;
            }
            a{
                .image-wrapper{
                    width: 100%;
                    overflow: hidden;
                    @include border-radius(5px);
                    img{
                        width: 100%;
                    }
                }
            }
            @media(max-width:1440px) {
                a{
                    .image-wrapper{
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.feedback{
    .heading{
        font-size: $font-size-x-large;
        font-weight: $font-weight-medium;
    }
    .card{
        border: 0px;
        @include border-radius(5px);
        .card-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            .image-wrapper{
                height: 80px;
                overflow: hidden;
                width: 80px;
                border-radius: 50%;
            }
            div{
                font-size: $font-size-regular-x;
                font-weight: $font-weight-medium !important;
                width: 70%;
            }
            p{
                font-size: $font-size-x-regular;
                font-weight: $font-weight-regular;
                color: $primary-color-light;
                margin: 0px;
            }
            .facebook-icon{
                width: 20px;
                position: absolute;
                top: 10px;
                right: 10px;
            }
            .rating i{
                font-size: $font-size-regular;
            }
        }
        .card-body{
            height: 110px;
            overflow: auto;
            color: $primary-color-light;
            font-size:$font-size-x-regular;
            padding:10px 35px;
            &::-webkit-scrollbar{
                width: 5px;
                &-track{
                    background-color: lightgray;
                    border-radius: 2px;
                    overflow: hidden;
                }
                &-thumb{
                    background-color: gray;
                }
            }
        }
    }
    .swiper-button-disabled{
        display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        &::after {
            padding:30px 20px;
            background-color: $white;
            opacity: 0.8;
            border-radius: 0px 10px 10px 0px;
            font-size: $font-size-medium;
            font-weight: bold;
            color: $primary-color-light;
        }

    }

    .swiper-button-prev{
        left: 25px;
    }
    .swiper-button-next {
        right: 25px;
        &::after{
            border-radius: 10px 0px 0px 10px;
        }
    }
}

.instruction-section{
    h5{
        font-size: $font-size-regular;
    }
    p{
        font-size: $font-size-x-regular;
    }
}

.offer-title {
    color: $primary-color-light;
}
