.search-box {
    position: relative;
    -webkit-box-shadow: -4px 2px 11px -6px rgba(46,45,46,0.39);
    -moz-box-shadow: -4px 2px 11px -6px rgba(46,45,46,0.39);
    box-shadow: -4px 2px 11px -6px rgba(46,45,46,0.39);
    margin-left: 1rem;
    .btn {
        &:hover,
        &:focus {
            border: 0px !important;
            outline: 0px !important;
            box-shadow: none !important;
        }
    }

    .form-control {
        @include border-radius(5px);
        border-color: $white;
        &:focus {
            box-shadow: none !important;
            border-color: $white;
        }
    }
    .search-btn {
        background: transparent;
        background-color: transparent;
        border: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 7px;
        top: 8px;
        i {
            color: $brand-red-100;
            font-size: $font-size-x-medium;
        }
        
        
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration { display: none; }

    &.w-25 {
        width: 33% !important;
    }
}